.footer {
  background-color: #003531;
  color: rgba(255, 255, 255, 0.8);
  /* padding-top: 20px; */

  /* background-image: url("https://i.ibb.co/g6PSdRF/image-8.png"); */
}
.footer h6 {
  color: #d0d0d0;
}
.footer-image {
}
